.search-box {
  display: flex;
  gap: 10px;
}

input {
  padding: 8px;
  font-size: 16px;
}

button {
  padding: 8px 16px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  border: none;
  border-radius: 8px;
}

.search-box input {
  width: 95%;
  padding: '8px';
  border-radius: 8px;
  border: 1px solid;
}